<!doctype html>
<html>
    <head>
        <style>
            .error{
                color:red;
            }
            nav a {
                display: inline-block;
                text-align: center;
                font-size: 20px;
                padding: 7px 7px;
            }
        
        </style>
    </head>
  <body>
      <nav>
        {% if session['username'] %}
        
          <a href="/">Home</a>
          <a href="/blog">All posts</a>
          <a href="/newpost">New post</a>
          <a href="/logout">Logout</a>
        {% else %}
          <a href="/">Home</a>
          <a href="/blog">All posts</a>
          <a href="/newpost">New post</a>
          <a href="/login">Login</a> 
          <a href="/logout">Logout</a>
          
          
        {% endif %} 
      </nav>
  </body>
</html>
{% block content %}
{% endblock %}
